Subject: Password reset required - {{settings.system.site.organization}}, {{settings.system.site.name}}.

Your Metadata Catalogue account with username: {{user.username}} has been locked as your password has not been changed recently. You will need to reset your password the next time you login to the system via the "Forgotten your password?" link.

{{settings.system.site.organization}}, {{settings.system.site.name}}: {{settings.system.server.protocol}}://{{settings.system.server.host}}:{{settings.system.server.port}}/geonetwork/

Regards,

Metadata Team.
